<a href="https://colab.research.google.com/github/StephanosNikitis/Python-Programming/blob/main/unit1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Swapping Two Variables

In [ ]:
thor_score = 2000
hulk_score = 1000
thor_score,hulk_score = hulk_score,thor_score
print("swap values are:", thor_score, hulk_score)

swap values are: 1000 2000

2. Hulk's strength level is recorded as a string input "1000". Convert it into an integer and increase it by 200.

In [ ]:
hulk_strength = "1000"
hulk_strength = int(hulk_strength) + 200
print(f"Hulk's strength: {hulk_strength}")

Hulk's strength: 1200

3. Thor's hammer mass is 5000 (int), but you need to calculate the gravitational force, which requires it as a float.

In [ ]:
hammer_mass = 5000
gravitational_force = float(hammer_mass) * 9.8
print(f"Gravitational force: {gravitational_force}")

Gravitational force: 49000.0

4. Loki gets input in seconds (as string): "3600". Convert it into an integer and then to hours. Show final result as a float.

In [ ]:
seconds = "3600"
seconds = int(seconds)
hours = float(seconds) / 3600
print(f"Hours: {hours}")

Hours: 1.0

5. Iron Man recorded 7 hits out of 10 shots (both integers). Convert them into float and calculate accuracy percentage.

In [ ]:
hits, total_shots = 7, 10
accuracy_percentage = (hits / total_shots) * 100
print(f"Accuracy Percentage: {accuracy_percentage:.2f}")

Accuracy Percentage: 70.00

# Object Referencing

1. Python variable hold references to objects, not the actual object themselves.

In [1]:
a = [1, 2, 3]
b = a
print("a original:", a)
b.append(4)
print("a new:", a)
print("b:", b)

a original: [1, 2, 3]
a new: [1, 2, 3, 4]
b: [1, 2, 3, 4]

2. Reassigning a variable does not affect other variables referencing the same object, unless explicitly updated.

In [3]:
a = [1, 2, 3]
b = a
b = [4, 5, 6]
print("a:", a)
print("b:", b)

a: [1, 2, 3]
b: [4, 5, 6]

In [8]:
shield = ["vibrarium", "round"]
copy_shield = shield
print("Original Shield is:", shield)
print("Wolverine changes the materials of shield.")
copy_shield[0] = "adamantium"
print("New Shield:", shield)

Original Shield is: ['vibrarium', 'round']
Wolverine changes the materials of shield.
New Shield: ['adamantium', 'round']

3. Removing a variable

In [10]:
a = 10
del a
print(a)

NameError: name 'a' is not defined

In [12]:
x = ["apple", "banana", "orange", "grape", "guava", "pineapple"]
del x[0]
print(x)
del x[2:4]
# deletes from index 2 to 3
print(x)

['banana', 'orange', 'grape', 'guava', 'pineapple']
['banana', 'orange', 'pineapple']